
<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
    <title>Kiwano</title>
	
    
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
	

	<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
	<script>AV.init({appId: 'zJP8mgDyy0AdYxiVkIumCsPO-gzGzoHsz',appKey: 'm79XePr5OoBF5bjcsTcTTAb1'})</script>
	<script src="/js/lcpv.js"></script>
	
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/script.js"></script>

    
    
		<link rel="Shortcut Icon" href="/assets/images/avatar.ico" type="image/ico">
    
</head>

<body>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js"></script>

<!-- Following Menu -->
<div class="ui large right top fixed navbar menu">
    <div class="ui container">
        <a href="/"><img class="logo" alt="返回首页" src="/assets/images/logo.png"></a>
        <div class="large right menu">
            
            <a class="item" href="http://www.nomango.cn/">不吃芒果</a>
            <a class="item" href="http://www.nomango.cn/works/">作品柜子</a>
        </div>
    </div>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment index-bg">

		<div class="ui container">
			<div class="ui large secondary inverted pointing menu" style="border:none">
				<a class="toc item"><i class="sidebar icon"></i></a>
			</div>
		</div>

		<div class="ui text container">
			<div class="ui index-header-text">
				<h1 class="ui inverted header">Kiwano作品展示 {{.now | formatAsDate}}</h1>
				<a href="http://www.nomango.cn/"><h2 class="ui inverted">不吃芒果</h2></a>
			</div>
			<div class="ui container index-header-buttons">
				<a class="ui huge primary button" target="_blank" href="https://github.com/nomango/kiwano">Kiwano Github</a>
				<a class="ui huge secondary button" href="https://github.com/Nomango/Kiwano/tree/v1"> v1版本 </a>
				<div class="index-header-extend" style="display:block;margin-top:10px;">
					<span>2018-3-13 更新 </span>
					<span> | </span>
					<span><a class="ui link history" href="https://github.com/nomango/kiwano/releases">查看历史版本 </a></span>
				</div>
			</div>
		</div>

    </div>
</div>

<div class="ui small first modal">
	<i class="close icon"></i>
	<div class="header">个人作品展览</div>
	<div class="content">
		<div class="ui form">
			<a href="http://www.nomango.cn/works/" target="_blank"><h4 class="ui header"></h4></a>
		</div>
	</div>
</div>

<script src="/js/advice.js"></script>
      <div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="six wide column">
				<h4 class="ui inverted header">文档</h4>
				<div class="ui inverted link list">
					<a class="item" href="http://www.nomango.cn/tagcloud/">教程分类</a>
					<a class="item" href="http://www.nomango.cn/">不吃芒果</a>
				</div>
			</div>
			<div class="six wide column">
				<div class="footer-text">
					<h4 class="ui inverted header">联系方式</h4>
					<p>咨询邮箱：support@easy2d.cn</p>
					<p>QQ 群：608406540</p>
				</div>
			</div>
		</div>
		<div class="ui inverted section divider"></div>
		<img src="/assets/images/logo.png"  alt="Easy2D-logo" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list" style="margin-bottom:0">
			<a class="item" href="http://www.nomango.cn" target="_blank">Blog</a>
		</div>
		<div class="ui inverted small link list">
			<p class="item" >&copy; 2016 - 2019</p>
		</div>
		<div class="ui inverted small link list">
			<a class="item" href="http://www.beian.miit.gov.cn" target="_blank">蜀ICP备16028738号-6</a>
		</div>
	</div>
</div>


<!-- 返回顶部按钮 -->
<style>
#totop {
	position: fixed;
	bottom: 5em;
	right: 3em;
	z-index: 1000;
	opacity: 0;
	transition: opacity ease 0.4s;
}
@media only screen and (max-width: 700px) {
	#totop {
		bottom: 5em;
		right: 1em;
	}
}
</style>
<button id="totop" class="ui circular icon button">
  <i class="chevron up icon"></i>
</button>
<script>
$(document).ready(function() {
	$(window).scroll(function() {
		if ($(document).scrollTop() > 10) {
			$('#totop').css('opacity', '1');
		} else {
			$('#totop').css('opacity', '0');
		}
	});
	$('#totop').on('click', function() {
		$('body,html').animate({ scrollTop: 0 }, 500);
	});
});
</script>
</body>
</html>